<h1><%= @kite.name %></h1>
<p>This kite is a <%= @kite.color%> colorfrom <%= @kite.origin %>.We currently have <%= @kite.quantity %> no available</p>
<%= link_to "Edit this kite", edit_kite_path(@bean) %>
<%= link_to "Delete this kite!" , :kite, method: :delete, data: {confirm: "Are you sure you want to delete this kite?"} %>
<!-- Provide a link back to our index page -->

<%= link_to "Back to our kites list", kites_path %>